node_modules/
.idea/
.vscode/
.history/
/refactorings-build/
dist/
build/

/packages/*/built/
/packages/*/coverage/
/packages/*/node_modules/
/packages/*/package-lock.json
package.json.lerna_backup

*.tsbuildinfo
.DS_Store
