node_modules
/yarn-error.log
.yarn
tsconfig.tsbuildinfo
built
dist
.history
/packages/**/*.ts
/packages/**/*.js
/packages/**/*.json
/packages/**/*.css
/packages/**/*.md
!/packages/*/src/**/*.ts
!/packages/*/src/**/*.js
!/packages/*/src/**/*.json
!/packages/*/src/**/*.css
!/packages/*/src/**/*.md
