body.moving {
  cursor: grab;
}

canvas {
  background-color: white;
}

.pencil {
  border: 1px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  height: 1px;
  pointer-events: none;
  pointer-events: none;
  position: absolute;
  width: 1px;
  z-index: 3;
}
