# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

/lib/din-5008-schreiben-*.json
/lib/client_secret_*.json
/lib/tokens.json
