body {
  margin: 0;
  overflow: hidden;
}

.selection {
  box-sizing: border-box;
  border: 1px solid white;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 0;
  top: 0;
}

.building-menu {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 241px;
  background-color: beige;
  color: black;
  border-left: 1px solid gray;
  padding: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.building-menu .building {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0 1rem 1rem 0;
}
